html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body.isToggled {
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.container-fluid {
  width: 100vw;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hidden {
  display: none;
}

.xl-show {
  display: none;
}
@media (min-width: 1024px) {
  .xl-show {
    display: block;
  }
}

.xl-hidden {
  display: block;
}
@media (min-width: 1024px) {
  .xl-hidden {
    display: none;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bg-white {
  background-color: #fcfcfc;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .bg-white {
    background-color: #eafaf1;
  }
}
@media (min-width: 1024px) {
  .bg-white {
    background-color: #eafaf1;
  }
}

.bg-white--faq {
  background-color: #fcfcfc;
}

.bg-lightAquamarine {
  background-color: #eafaf1;
}

.bg-black {
  background-color: #080c16;
}

.contact-btn {
  font-size: 0.875rem;
  font-weight: 700;
  font-family: "Helvitica Neue", sans-serif;
  color: #fcfcfc;
  background-color: #00ad6a;
  padding: 0.6em 1.2em;
  border: 2px solid #fcfcfc;
  position: fixed;
  bottom: 22px;
  right: 22px;
  z-index: 9999;
}

header {
  z-index: 5;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 0%;
  background: #eafaf1;
  z-index: -5;
  transition: all 1s ease-in-out;
}

.overlay.isToggled {
  height: 100%;
}

.nav-padding {
  padding: 1rem 1.5rem;
}

.mobile-nav {
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease-in-out;
}

.mobile-nav.isToggled {
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0s;
}

.mobile-nav--padding {
  padding: 1.5rem;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}
.menu-btn--hamburger {
  width: 26px;
  height: 2px;
  background-color: #00ad6a;
}
.menu-btn--hamburger::before, .menu-btn--hamburger::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: #00ad6a;
  transition: all 0.2s ease-in-out;
}
.menu-btn--hamburger::before {
  transform: translateY(-8px);
}
.menu-btn--hamburger::after {
  transform: translateY(8px);
}

.isToggled .menu-btn--hamburger {
  background: transparent;
}
.isToggled .menu-btn--hamburger::before {
  transform: rotate(135deg);
}
.isToggled .menu-btn--hamburger::after {
  transform: rotate(-135deg);
}

.nav-list {
  width: 100%;
  animation: myOpacity 1s ease-in-out;
  animation-delay: 2s;
}
.nav-list ul {
  list-style: none;
}
.nav-list li {
  width: fit-content;
}
.nav-list a {
  display: inline-block;
  text-decoration: none;
  color: #00ad6a;
  padding: 0.5rem 0;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.25rem;
}
.nav-list a:hover {
  color: #080c16;
}

button {
  font-weight: 700;
  font-family: "Work Sans", sans-serif;
}

.btn-signUp {
  background: linear-gradient(to right, #00ad6a, #1fe374);
  color: #080c16;
  font-weight: 700;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  padding: 1rem;
  margin-top: 0.5rem;
  border: none;
}
.btn-signUp:hover {
  opacity: 0.7;
  color: #fcfcfc;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .nav-padding {
    padding: 3rem 1.5rem;
  }
  .md-hidden {
    display: none;
  }
  .hidden {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hidden li {
    list-style: none;
    font-size: 1rem;
    font-weight: 700;
    color: #00ad6a;
    cursor: pointer;
  }
  .hidden li button {
    font-size: 1rem;
    font-weight: 700;
    color: #00ad6a;
    background-color: #eafaf1;
    border: 2px solid #00ad6a;
    padding: 0.40625rem 1rem;
  }
  .hidden li:hover {
    color: #080c16;
  }
  .hidden .margin-right {
    margin-right: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .nav-padding {
    padding: 3rem 1.5rem;
  }
  .md-hidden {
    display: none;
  }
  .hidden {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hidden li {
    list-style: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: #00ad6a;
    cursor: pointer;
  }
  .hidden li button {
    font-size: 1rem;
    font-weight: 700;
    color: #00ad6a;
    background-color: #eafaf1;
    border: 2px solid #00ad6a;
    padding: 0.4rem 1rem;
  }
  .hidden li:hover {
    color: #080c16;
  }
  .hidden .margin-right {
    margin-right: 2.5rem;
  }
}
.first-content--padding {
  padding: 2rem 1.5rem 1rem;
}

.first-content h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 3rem;
  margin-bottom: 3rem;
}
.first-content p {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: #080c16;
}

.pricing-blocks {
  display: flex;
  flex-direction: column;
}

.first-block {
  padding: 0 1rem 2rem;
}
.first-block h2 {
  color: #00ad6a;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
  line-height: 1.4375rem;
  padding-bottom: 1rem;
}
.first-block ul {
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.first-block li {
  color: #080c16;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
}
.first-block p {
  color: #080c16;
  font-size: 1rem;
  line-height: 1.5rem;
}
.first-block a {
  color: #080c16;
  text-decoration: underline;
}

.second-block {
  border: 1px solid #1fe374;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  margin-bottom: 2rem;
}

.block-banner {
  color: #fcfcfc;
  background-color: #00ad6a;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.5rem 0;
}

.block-content {
  padding: 1rem;
  background-color: #fcfcfc;
}
.block-content .block-content--main {
  width: 100%;
  padding-bottom: 1rem;
}
.block-content .block-content--main h1 {
  color: #00ad6a;
  font-size: 2.25rem;
  letter-spacing: -1.5px;
}
.block-content .block-content--main h6 {
  color: #83858a;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0.5rem 0;
}
.block-content .block-content--main p {
  color: #464951;
  font-size: 0.75rem;
  font-weight: 900;
  margin-top: 2rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.block-content ul {
  padding: 0 1rem 1rem;
  list-style-image: url(../images/icon-check-bullet.svg);
}
.block-content li {
  color: #080c16;
  font-size: 1rem;
  letter-spacing: -0.5px;
  padding: 0.5rem 0;
}
.block-content button {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Work Sans", sans-serif;
  padding: 0.5rem 1rem 0.75rem;
  background-color: #1fe374;
  border: none;
  margin-top: 1rem;
}

.front-weight--medium {
  font-weight: 400;
}

.block-banner--second {
  color: #080c16;
  background-color: #f0f4f3;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1375rem;
  padding: 1rem;
  border-bottom: #d6dbe5 1px solid;
}

.border-box {
  border: 1px solid #d6dbe5;
}

.block-margin {
  margin-bottom: 2rem;
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.slogan h1 {
  font-size: 1.5rem;
  padding: 1rem 0;
  font-weight: 400;
  line-height: 2.25rem;
  text-align: center;
}
.slogan p {
  color: #00ad6a;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
}

.faq {
  padding: 3rem 0 2rem;
}
.faq h2 {
  font-size: 2.25rem;
  letter-spacing: -2px;
  color: #080c16;
  margin-bottom: 1rem;
}

.faq-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.faq-blocks .block-item {
  padding: 1.5rem 0;
}
.faq-blocks .block-item h4 {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  font-weight: 700;
}
.faq-blocks .block-item p {
  font-size: 1.125rem;
  line-height: 1.6875rem;
}

@media (min-width: 620px) and (max-width: 767px) {
  .block-content--main h1 {
    display: inline-block;
  }
  .block-content--main h6 {
    display: inline-block;
    padding-left: 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .first-content--padding {
    padding-top: 0;
  }
  .first-content h1 {
    max-width: 30rem;
    font-size: 3.75rem;
    line-height: 3.75rem;
    letter-spacing: -2px;
    margin-bottom: 1rem;
  }
  .first-content p {
    max-width: 80%;
  }
  .block-content--main h1 {
    display: inline-block;
  }
  .block-content--main h6 {
    display: inline-block;
    padding-left: 0.5rem;
  }
  .faq-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -14px;
    margin-right: -14px;
  }
  .faq-blocks .block-item {
    align-self: start;
    flex: 50%;
    width: 50%;
    padding: 1.5rem 1rem;
  }
}
@media (min-width: 1024px) {
  .first-content--padding {
    padding: 0;
  }
  .first-content {
    text-align: center;
    margin: 0 15rem 5rem;
  }
  .first-content h1 {
    width: 35rem;
    font-size: 3.75rem;
    margin: 0 auto 1rem;
    line-height: 3.875rem;
  }
  .first-content p {
    width: 37rem;
    margin: 0 auto;
  }
  .pricing-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .first-block,
.second-block,
.third-block {
    flex: 33.33%;
  }
  .second-block,
.third-block {
    background-color: #fcfcfc;
  }
  .first-block {
    margin-top: 7.75rem;
    padding-left: 2.5rem;
    padding-right: 4.5rem;
  }
  .first-block ul {
    margin-left: 1rem;
  }
  .block-content {
    padding: 1.25rem 2rem 1.5rem;
  }
  .block-content .block-content--main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .block-content .block-content--main h1 {
    margin: 1rem 2rem 0;
    text-align: center;
    font-size: 3rem;
    line-height: 1;
  }
  .block-content .block-content--main h6 {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .block-content .block-content--main p {
    margin: 0;
  }
  .block-content ul {
    padding-left: 0;
    padding-right: 0;
  }
  .block-content button {
    margin: 0 0 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .third-block {
    margin-top: 3.625rem;
    margin-bottom: 4.5rem;
  }
  .third-block .block-content .block-content--main h1 {
    font-size: 2.25rem;
  }
  .slogan h1 {
    margin: 0 10rem;
  }
  .faq {
    padding: 6rem 0;
  }
  .faq h2 {
    font-size: 3rem;
  }
  .faq-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -14px;
    margin-right: -14px;
  }
  .faq-blocks .block-item {
    align-self: start;
    flex: 50%;
    width: 50%;
    padding: 1.5rem 1rem;
  }
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 1rem;
}
.footer-content .left-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.footer-content .left-block img {
  padding-bottom: 1rem;
}
.footer-content .left-block button {
  width: 100%;
  background: linear-gradient(to right, #00ad6a, #1fe374);
  padding: 1rem 2rem;
  border: none;
}
.footer-content .left-block button a {
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: #080c16;
}
.footer-content .right-block {
  width: 100%;
}
.footer-content .right-block .footer-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2.5rem -1rem 0 -1rem;
}
.footer-content .right-block .footer-blocks ul {
  list-style: none;
}
.footer-content .right-block .footer-blocks li {
  margin-bottom: 0.5rem;
}
.footer-content .right-block .footer-block--items {
  flex: 33%;
  padding: 0 1rem;
}
.footer-content .right-block .footer-item--title,
.footer-content .right-block .footer-item--subtitle {
  font-size: 0.875rem;
  font-weight: 400;
}
.footer-content .right-block .footer-item--title {
  color: #fcfcfc;
}
.footer-content .right-block .footer-item--subtitle {
  color: #1fe374;
}
.footer-content .right-block .footer-item--subtitle:hover {
  color: #080c16;
}

.copyright {
  margin-top: 2rem;
  padding-bottom: 6rem;
}
.copyright p {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #83858a;
}
.copyright p a {
  font-size: 0.75rem;
  font-weight: 400;
  color: #83858a;
  text-decoration: underline;
}
.copyright p a:hover {
  color: #fcfcfc;
}

@media (min-width: 0px) and (max-width: 280px) {
  .footer-block--items li {
    margin-bottom: 0.5rem !important;
  }
  .footer-item--title,
.footer-item--subtitle {
    font-size: 1.125rem !important;
    line-height: 1.6875rem;
    font-weight: 400 !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .footer-content {
    padding: 6rem 0;
  }
  .footer-content img {
    width: 10rem;
    height: auto;
  }
  .footer-content button {
    width: 20rem !important;
  }
  .footer-blocks {
    margin-top: 3rem;
  }
  .footer-blocks ul {
    padding: 0 1rem;
  }
  .footer-blocks ul.ul-padding {
    padding: 0;
  }
  .footer-blocks li {
    padding-bottom: 0.5rem;
  }
  .footer-item--title,
.footer-item--subtitle {
    font-size: 1.125rem !important;
    font-weight: 700 !important;
  }
  .footer-item--title {
    font-weight: 700 !important;
  }
  .footer-item--subtitle {
    font-weight: 400 !important;
  }
  .copyright {
    margin-top: 0 !important;
    padding-bottom: 0.75rem !important;
  }
}
@media (min-width: 1024px) {
  .footer-content {
    padding: 6rem 0;
    display: flex;
    flex-direction: row;
  }
  .footer-content .left-block,
.footer-content .right-block {
    flex: 50%;
  }
  .footer-content .left-block {
    align-items: flex-start;
  }
  .footer-content .left-block img {
    width: 10rem;
    height: auto;
    padding-bottom: 0;
    margin-bottom: 3rem;
  }
  .footer-content .left-block button {
    width: auto;
    padding: 1rem 2rem;
  }
  .footer-content .right-block .footer-blocks {
    margin: 0;
  }
  .footer-content .right-block .footer-blocks .footer-block--items {
    padding: 0 1rem;
  }
  .footer-content .right-block .footer-blocks li {
    margin-bottom: 1rem;
  }
  .footer-content .right-block .footer-item--title,
.footer-content .right-block .footer-item--subtitle {
    line-height: 27px;
    font-size: 1.125rem;
  }
  .footer-content .right-block .footer-item--title {
    font-weight: 700;
  }
  .copyright {
    margin: 0;
    padding: 0.75rem 0;
  }
}