.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 1rem;

  .left-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    img {
      width: 128px;
      height: 52.7px;
      margin-bottom: 1.4rem;
    }

    button {
      width: 100%;
      background: linear-gradient(to right, $darkGreen, $lightGreen);
      padding: 1rem 2rem;
      border: none;

      a {
        font-size: 1rem;
        font-family: "Work Sans", sans-serif;
        line-height: 1.5;
        font-weight: 700;
        color: $black;
      }
    }
  }

  .right-block {
    width: 100%;

    .footer-blocks {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 2.4rem -1rem 0 -1rem;

      ul {
        list-style: none;
      }

      li {
        margin-bottom: 0.45rem;
      }
    }

    .footer-block--items {
      flex: 33%;
      padding: 0 1rem;
    }

    .footer-item--title,
    .footer-item--subtitle {
      font-size: 0.875rem;
      font-weight: 400;
    }

    .footer-item--title {
      font-weight: 700;
      color: $white;
    }

    .footer-item--subtitle {
      color: $lightGreen;

      &:hover {
        color: $black;
      }
    }
  }
}

.copyright {
  margin-top: 1.3rem;
  padding-bottom: 6rem;

  p {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: #83858a;

    a {
      font-size: 0.75rem;
      font-weight: 400;
      color: #83858a;
      text-decoration: underline;

      &:hover {
        color: $white;
      }
    }
  }
}

@include galaxyFold {
  .footer-block--items {
    li {
      margin-bottom: 0.5rem !important;
    }
  }

  .footer-item--title,
  .footer-item--subtitle {
    font-size: 1.125rem !important;
    line-height: 1.6875rem;
    font-weight: 400 !important;
  }
}

@include smallTablet {
  .footer-content {
    .right-block {
      .footer-blocks {
        margin-top: 2.5rem;

        li {
          margin-bottom: 0.5rem;
        }
      }

      .footer-item--title {
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.5;
      }

      .footer-item--subtitle {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
  }
}

@include tablet {
  .footer-content {
    padding: 6rem 0;

    img {
      width: 10rem;
      height: auto;
    }

    button {
      width: 20rem !important;
    }
  }

  .footer-blocks {
    margin-top: 3rem;

    ul {
      padding: 0 1rem;
    }

    ul.ul-padding {
      padding: 0;
    }

    li {
      padding-bottom: 0.5rem;
    }
  }

  .footer-item--title,
  .footer-item--subtitle {
    font-size: 1.125rem !important;
    font-weight: 700 !important;
  }

  .footer-item--title {
    font-weight: 700 !important;
  }

  .footer-item--subtitle {
    font-weight: 400 !important;
  }

  .copyright {
    margin-top: 0 !important;
    padding-bottom: 0.75rem !important;
  }
}

@include desktop {
  .footer-content {
    padding: 6rem 0;
    display: flex;
    flex-direction: row;

    .left-block,
    .right-block {
      flex: 50%;
    }

    .left-block {
      align-items: flex-start;
      img {
        width: 10rem;
        height: auto;
        padding-bottom: 0;
        margin-bottom: 3rem;
      }

      button {
        width: auto;
        padding: 1rem 2rem;
      }
    }

    .right-block {
      .footer-blocks {
        margin: 0;

        .footer-block--items {
          padding: 0 1rem;
        }

        li {
          margin-bottom: 1rem;
        }
      }

      .footer-item--title,
      .footer-item--subtitle {
        line-height: 27px;
        font-size: 1.125rem;
      }

      .footer-item--title {
        font-weight: 700;
      }
    }
  }

  .copyright {
    margin: 0;
    padding: 0.75rem 0;
  }
}
