html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body.isToggled {
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.container-fluid {
  width: 100vw;
  border-top: 1px solid #d6dbe5;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.hidden {
  display: none;
}

.xl-show {
  display: none;

  @include desktop {
    display: block;
  }
}

.xl-hidden {
  display: block;

  @include desktop {
    display: none;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bg-white {
  background-color: $white;

  @include tablet {
    background-color: $lightAquamarine;
  }

  @include desktop {
    background-color: $lightAquamarine;
  }
}

.bg-white--faq {
  background-color: $white;
}

.bg-lightAquamarine {
  background-color: $lightAquamarine;
}

.bg-black {
  background-color: $black;
}

.contact-btn {
  font-size: 0.875rem;
  font-weight: 700;
  font-family: "Helvitica Neue", sans-serif;
  color: $white;
  background-color: $darkGreen;
  padding: 0.6em 1.2em;
  border: 2px solid $white;
  position: fixed;
  bottom: 22px;
  right: 22px;
  z-index: 9999;
}
