header {
  z-index: 5;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 0%;
  background: $lightAquamarine;
  z-index: -5;
  transition: all 1s ease-in-out;
}

.overlay.isToggled {
  height: 100%;
}

.nav-padding {
  padding: 1rem 1.5rem;
}

.mobile-nav {
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease-in-out;
}

.mobile-nav.isToggled {
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0s;
}

.mobile-nav--padding {
  padding: 1.5rem;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;

  &--hamburger {
    width: 26px;
    height: 2px;
    background-color: $darkGreen;
  }

  &--hamburger::before,
  &--hamburger::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: $darkGreen;
    transition: all 0.2s ease-in-out;
  }

  &--hamburger::before {
    transform: translateY(-8px);
  }

  &--hamburger::after {
    transform: translateY(8px);
  }
}

.isToggled .menu-btn {
  &--hamburger {
    background: transparent;
  }
  &--hamburger::before {
    transform: rotate(135deg);
  }
  &--hamburger::after {
    transform: rotate(-135deg);
  }
}

.nav-list {
  width: 100%;
  animation: myOpacity 1s ease-in-out;
  animation-delay: 2s;

  ul {
    list-style: none;
  }

  li {
    width: fit-content;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: $darkGreen;
    padding: 0.5rem 0;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.25rem;

    &:hover {
      color: $black;
    }
  }
}

button {
  font-weight: 700;
  font-family: "Work Sans", sans-serif;
}

.btn-signUp {
  background: linear-gradient(to right, $darkGreen, $lightGreen);
  color: $black;
  font-weight: 700;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  padding: 1rem;
  margin-top: 0.5rem;
  border: none;

  &:hover {
    opacity: 0.7;
    color: $white;
  }
}

@include tablet {
  .nav-padding {
    padding: 3rem 1.5rem;
  }

  .md-hidden {
    display: none;
  }

  .hidden {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      list-style: none;
      font-size: 1rem;
      font-weight: 700;
      color: $darkGreen;
      cursor: pointer;

      button {
        font-size: 1rem;
        font-weight: 700;
        color: $darkGreen;
        background-color: $lightAquamarine;
        border: 2px solid $darkGreen;
        padding: 0.25rem 1rem;
      }

      &:hover {
        color: $black;
      }
    }

    .margin-right {
      margin-right: 2.5rem;
    }
  }
}

@include desktop {
  .nav-padding {
    padding: 3rem 1.5rem;
  }

  .md-hidden {
    display: none;
  }

  .hidden {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      list-style: none;
      font-size: 1rem;
      font-weight: 700;
      color: $darkGreen;
      cursor: pointer;

      button {
        font-size: 1rem;
        font-weight: 700;
        color: $darkGreen;
        background-color: $lightAquamarine;
        border: 2px solid $darkGreen;
        padding: 0.25rem 1rem;
      }

      &:hover {
        color: $black;
      }
    }

    .margin-right {
      margin-right: 2.5rem;
    }
  }
}
