.intro-content--padding {
  padding: 2rem 1.5rem 1rem;
}

.intro-content {
  h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 3rem;
    margin-bottom: 3rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: $black;
  }
}

.pricing-blocks {
  display: flex;
  flex-direction: column;
}

.first-block {
  padding: 0 0.5rem 2rem;

  h2 {
    color: $darkGreen;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: left;
    line-height: 1.4375rem;
    padding-bottom: 1rem;
  }

  ul {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  li {
    color: $textColor;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
  }

  p {
    color: $textColor;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  a {
    color: $black;
    text-decoration: underline;
  }
}

.second-block {
  border: 1px solid $darkGreen;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  margin-bottom: 2rem;
}

.block-banner {
  color: #fff;
  background-color: $darkGreen;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 0.5rem 0;
}

.block-content {
  padding: 1rem;
  background-color: #fff;

  .block-content--main {
    width: 100%;
    padding-bottom: 1rem;

    h1 {
      display: inline-block;
      color: $darkGreen;
      font-size: 2.25rem;
      letter-spacing: -1.5px;
      line-height: 1;
    }

    h6 {
      display: inline-block;
      color: #83858a;
      font-size: 1.25rem;
      line-height: 1;
      letter-spacing: -0.5px;
      font-weight: 400;
      margin: 0.5625rem 0 0.5rem 0;
    }

    p {
      color: #464951;
      font-size: 0.75rem;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 1.15;
      margin-top: 2rem;
      text-transform: uppercase;
    }
  }

  ul {
    padding: 0 1rem 1rem;
    list-style: none;
  }

  li {
    position: relative;
    color: $textColor;
    font-size: 1rem;
    line-height: 1.15;
    letter-spacing: -0.5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &::before {
      content: "";
      position: absolute;
      left: -14px;
      top: 14px;
      width: 12px;
      height: 12px;
      background-image: url(../images/icon-check-bullet.svg);
      background-repeat: no-repeat;
    }
  }

  button {
    color: $textColor;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    padding: 0.5rem 1rem 0.75rem;
    background-color: $lightGreen;
    border: none;
    margin-top: 1rem;
  }
}

.front-weight--medium {
  font-weight: 400;
}

.block-banner--second {
  color: $textColor;
  background-color: #f2f3f3;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1375rem;
  padding: 1rem;
  border-bottom: #d6dbe5 1px solid;
}

.border-box {
  border: 1px solid #d6dbe5;
}

.block-margin {
  margin-bottom: 2rem;
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;

  h1 {
    color: $black;
    font-size: 1.5rem;
    padding: 1rem 0;
    font-weight: 400;
    line-height: 2.25rem;
    text-align: center;
  }

  p {
    color: $darkGreen;
    font-size: 0.75rem;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.faq {
  padding: 3rem 0 2rem;

  h2 {
    font-size: 2.25rem;
    line-height: 41px;
    letter-spacing: -2px;
    color: $black;
    margin-bottom: 1.0625rem;
  }
}

.faq-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  .block-item {
    padding: 1.5rem 0;

    h4 {
      color: $black;
      margin: 0;
      font-size: 1.25rem;
      line-height: 1.4375rem;
      font-weight: 700;
    }

    p {
      color: $textColor;
      font-size: 1.125rem;
      line-height: 1.6875rem;
    }
  }
}

@include smallTablet {
  .block-content {
    .block-content--main {
      h1 {
        display: inline-block;
      }

      h6 {
        display: inline-block;
        font-size: 1.5rem;
        line-height: 1;
        padding-left: 0.5rem;
      }
    }
  }
}

@include tablet {
  .first-content--padding {
    padding-top: 0;
  }

  .first-content {
    h1 {
      max-width: 30rem;
      font-size: 3.75rem;
      line-height: 3.75rem;
      letter-spacing: -2px;
      margin-bottom: 1rem;
    }

    p {
      max-width: 80%;
    }
  }

  .block-content--main {
    h1 {
      display: inline-block;
    }

    h6 {
      display: inline-block;
      padding-left: 0.5rem;
    }
  }

  .faq-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -14px;
    margin-right: -14px;

    .block-item {
      align-self: start;
      flex: 50%;
      width: 50%;
      padding: 1.5rem 1rem;
    }
  }
}

@include desktop {
  .first-content--padding {
    padding: 0;
  }

  .first-content {
    text-align: center;
    margin: 0 15rem 5rem;

    h1 {
      width: 35rem;
      font-size: 3.75rem;
      margin: 0 auto 1rem;
      line-height: 3.875rem;
    }

    p {
      width: 37rem;
      margin: 0 auto;
    }
  }

  .pricing-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .first-block,
  .second-block,
  .third-block {
    flex: 33.33%;
  }

  .second-block,
  .third-block {
    background-color: $white;
  }

  .first-block {
    margin-top: 7.75rem;
    padding-left: 2.5rem;
    padding-right: 4.5rem;

    ul {
      margin-left: 1rem;
    }
  }

  .block-content {
    padding: 1.25rem 2rem 1.5rem;

    .block-content--main {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;

      h1 {
        margin: 1rem 2rem 0;
        text-align: center;
        font-size: 3rem;
        line-height: 1;
      }

      h6 {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
      }

      p {
        margin: 0;
      }
    }

    ul {
      padding-left: 0;
      padding-right: 0;
    }

    button {
      margin: 0 0 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .third-block {
    margin-top: 3.625rem;
    margin-bottom: 4.5rem;

    .block-content .block-content--main h1 {
      font-size: 2.25rem;
    }
  }

  .slogan {
    h1 {
      margin: 0 10rem;
    }
  }

  .faq {
    padding: 6rem 0;

    h2 {
      font-size: 3rem;
    }
  }

  .faq-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -14px;
    margin-right: -14px;

    .block-item {
      align-self: start;
      flex: 50%;
      width: 50%;
      padding: 1.5rem 1rem;
    }
  }
}
