$galaxyFold: 280px;
$smallTablet-width: 620px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin galaxyFold {
  @media (min-width: 0px) and (max-width: #{$galaxyFold}) {
    @content;
  }
}

@mixin smallTablet {
  @media (min-width: #{$smallTablet-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
