html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.p-5 {
  padding: 1.5rem;
}

.px-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bg-white {
  background-color: #fcfcfc;
}

.navbar {
  display: flex;
  justify-content: space-between;
  place-items: center;
  flex-wrap: wrap;
}

.pulse-logo {
  display: flex;
  place-items: center;
  flex-shrink: 0;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.menu-btn--hamburger {
  width: 26px;
  height: 2px;
  background-color: #00ad6a;
}

.menu-btn--hamburger::before,
.menu-btn--hamburger::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: #00ad6a;
  transition: all 0.2s ease-in-out;
}

.menu-btn--hamburger::before {
  transform: translateY(-8px);
}

.menu-btn--hamburger::after {
  transform: translateY(8px);
}

.menu-btn.isToggled .menu-btn--hamburger {
  background: transparent;
}

.menu-btn.isToggled .menu-btn--hamburger::before {
  transform: rotate(135deg);
}

.menu-btn.isToggled .menu-btn--hamburger::after {
  transform: rotate(-135deg);
}

.hidden {
  display: none;
  /* visibility: hidden; */
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #eafaf1;
  z-index: -1;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.overlay.isToggled {
  visibility: visible;
}

.mobile-nav {
  /* display: none; */
}

.mobile-nav.isToggled {
  display: flex;
}

.main-nav--main {
  width: 55vw;
  /* background-color: red; */
}

.main-nav--main ul {
  list-style: none;
}

.main-nav--main ul li {
  padding: 0.5rem 0;
}

.main-nav--main ul li a {
  color: #00ad6a;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25rem;
}
